body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f1f1f1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary: #1aac83;
  --error: #e7195a;
}


/* NavBar */
header {
  background: #fff;
}

header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
} 
header a {
  color: #333;
  /* color: var(--primary); */
  text-decoration: none;

}

/* Home */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}

.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}


/* To Do List */
.todo-details {
  background: #fff;
  border-radius: 5px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.6);
  display: flex; 
  justify-content: space-between;
}

 .todo-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}

.todo-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}

.todo-details span {
  cursor: pointer;
  /* background: #f1f1f1; */
  padding: 6px;
  border-radius: 10px;
  display: flex;
  margin-top: 6px;
  /* color: #333; */
} 

.strikethrough {
  text-decoration: line-through;
}



/* ToDoForm */
label, input {
  display: block;
}

input {
  padding: 10px;
  margin: 10px 0 20px 0;
  width: 100%;
  border: 2px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box; 

}

form button {
  background: var(--primary);
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

div.error {
  padding: 10px;
  background: #ffefef;
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}


.error {
  border: 1px solid var(--error);
}

